<a href="https://colab.research.google.com/github/abdulhadi9575/Abstraction-and-Polymorphism/blob/main/Asymptotic_notation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def printnumber(n):
  literation=0
  print("the total number entered my user is",n)
  literation+=1
  print("total literation done by computer is",literation,"\n")
printnumber(10)
printnumber(200)

the total number entered my user is 10
total literation done by computer is 1

the total number entered my user is 200
total literation done by computer is 1

In [2]:
def abc(n):
  a=0
  for i in range(1,n+1):
    a=a+1
  print(n,a)
abc(10)
abc(20)

10 10
20 20

In [3]:
def abc(n):
  a=0
  for i in range(0,n):
    for j in range(0,n):
      print("*",end=" ")
      a=a+1
    print()
  print(n,a)
abc(10)
abc(20)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
10 100
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
20 400