<a href="https://colab.research.google.com/github/abdulhadi9575/Abstraction-and-Polymorphism/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

exam_data={'name':['Anastasia','Dima','Katherine','James','Emily','Micheal','Matthew','Laura','Kavin','Jonas'],
           'score':[12.5,9,16.5, np.nan,9,20,14.5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_data,index=labels)
print("Summary of basic information about this DataFrame and its data:")
print(df.info())
print(df)

Summary of basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Micheal   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kavin    8.0         2      no
j      Jonas   19.0         1     yes